body {
  background-color: whitesmoke;
}

.margin-t {
  margin-top: 4rem;
}

.title {
  font-size: 2.25rem;
  color: #6d6d6d;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-top: 1.5rem;
}
.normal {
  background: #a8a77a;
}
.fighting {
  background: #c22e28;
}
.flying {
  background: #a98ff3;
}
.poison {
  background: #a33ea1;
}
.ground {
  background: #e2bf65;
}
.rock {
  background: #b6a136;
}
.bug {
  background: #a6b91a;
}
.ghost {
  background: #735797;
}
.steel {
  background: #b7b7ce;
}
.fire {
  background: #ee8130;
}
.water {
  background: #6390f0;
}
.grass {
  background: #7ac74c;
}
.electric {
  background: #f7d02c;
}
.psychic {
  background: #f95587;
}
.ice {
  background: #96d9d6;
}
.dragon {
  background: #6f35fc;
}
.dark {
  background: #705746;
}
.fairy {
  background: #d685ad;
}

.black {
  background-color: #607d8b !important;
  color: #fff !important;
}

.blue {
  background-color: #81d4fa !important;
  color: #fff !important;
}

.brown {
  background-color: #bcaaa4 !important;
  color: #fff !important;
}

.gray {
  background-color: #a6a6a6 !important;
  color: #fff !important;
}

.green {
  background-color: #81c784 !important;
  color: #fff !important;
}

.pink {
  background-color: #f8bbd0 !important;
  color: #fff !important;
}

.purple {
  background-color: #ad8ee7 !important;
  color: #fff !important;
}

.red {
  background-color: #ff8a80 !important;
  color: #fff !important;
}

.white {
  background-color: #d5dbe1 !important;
  color: #696969 !important;
}

.yellow {
  background-color: #ffd600 !important;
  color: #fff !important;
}

.back-button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
